<div class="container">
  <div>
    <div class="lds-dual-ring" *ngIf="isLoading"></div>
    <table *ngIf="contacts$ | async as contacts">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Phone number</th>
          <th>Sex</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.id }}</td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.surname }}</td>
          <td>{{ contact.phoneNumber }}</td>
          <td>{{ contact.sex }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-contact-edit></app-contact-edit>
</div>
